<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.juickadvanced"
          android:versionCode="2013041402" android:versionName="18.18.20">

    <uses-sdk android:minSdkVersion="7" android:targetSdkVersion="13"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.GET_ACCOUNTS"/>
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS"/>
    <uses-permission android:name="android.permission.USE_CREDENTIALS"/>
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission android:name="android.permission.READ_CONTACTS"/>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>


    <permission android:name="com.juickadvanced.permission.C2D_MESSAGE" android:protectionLevel="signature"/>
    <uses-permission android:name="com.juickadvanced.permission.C2D_MESSAGE"/>
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE"/>


    <uses-feature android:name="android.hardware.location" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.location.network" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <application android:icon="@drawable/ic_launcher"
                 android:label="@string/Juick"
                 android:name="com.juick.android.JuickAdvancedApplication"
                 >
        <uses-library android:name="com.google.android.maps" android:required="false"/>
        <meta-data
                android:name="android.app.default_searchable"
                android:value="com.juick.android.SearchActivity"/>
        <activity android:name="com.juick.android.MainActivity"  android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http" android:host="juick.com"/>
                <data android:scheme="http" android:host="*.psto.net"/>
                <data android:scheme="http" android:host="psto.net"/>
                <data android:scheme="http" android:host="bnw.im"/>
            </intent-filter>
        </activity>
        <activity android:name="com.juick.android.MessagesActivity"
                  android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="vnd.android.cursor.item/vnd.com.juick.profile"/>
            </intent-filter>
        </activity>
        <activity android:name="com.juick.android.UserCenterActivity" android:label="@string/UserCenter" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
        <activity android:name="org.acra.CrashReportDialog"
                  android:configChanges="keyboard|keyboardHidden|orientation">
        </activity>
        <activity android:name="com.juick.android.NewMessageActivity" android:label="@string/New_message" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="android.intent.action.SEND"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <data android:mimeType="text/plain"/>
                <data android:mimeType="image/jpeg"/>
                <data android:mimeType="video/3gpp"/>
                <data android:mimeType="video/mp4"/>
            </intent-filter>
        </activity>
        <activity android:name="com.juick.android.ExploreActivity" android:label="@string/Juick__Explore" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"/>
        <activity android:name="com.juick.android.ThreadActivity" android:label="" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.PlacesActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.PickPlaceActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation" android:noHistory="true"/>
        <activity android:name="com.juick.android.PlaceEditActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.SignInActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.SignUpActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.PreferencesActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.TagsActivity" android:label="@string/Tags" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.JuickPreferencesActivity" android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.NewJuickPreferenceActivity" android:launchMode="singleTask"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.NewJuickPreferenceActivityMT"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.XMPPPreferenceActivity" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.EditFiltersActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.ViewJuboFiltersActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation">
            <intent-filter>
                <action android:name="com.juick.android.EditFiltersActivity"/>
            </intent-filter>
        </activity>
        <activity android:name="com.juick.android.PickLocationActivity" android:label="@string/Pick_a_location"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.XMPPIncomingMessagesActivity" android:label="@string/Incoming_Events" android:theme="@style/Theme.Sherlock.JustNoNavigation"
                  android:launchMode="singleTask" android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.DisplayChartActivity"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.DisplayChartActivity2"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>
        <activity android:name="com.juick.android.XMPPControlActivity" android:label="@string/XMPPControl"
                  android:configChanges="keyboard|keyboardHidden|orientation"/>


        <activity
                android:label="@string/com_juick"
                android:launchMode="singleTop"
                android:name="com.juick.android.SearchActivity">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
            <meta-data
                    android:name="android.app.searchable"
                    android:resource="@xml/searchable"/>
        </activity>

        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
        </receiver>

        <receiver android:name="com.google.android.gcm.GCMBroadcastReceiver" android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE"/>
                <action android:name="com.google.android.c2dm.intent.REGISTRATION"/>
                <category android:name="com.juickadvanced"/>
            </intent-filter>
        </receiver>
        <service android:name="com.juickadvanced.GCMIntentService">

        </service>

        <receiver android:name="com.juick.android.XMPPMessageReceiver">
            <intent-filter>
                <action android:name="com.juickadvanced.android.action.ACTION_MESSAGE_RECEIVED"/>
                <action android:name="com.juickadvanced.android.action.ACTION_LAUNCH_MESSAGELIST"/>
            </intent-filter>
        </receiver>

        <receiver android:name="com.juick.android.ConnectivityChangeReceiver">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE"/>
            </intent-filter>
        </receiver>
        <service android:name="com.juick.android.AuthenticationService" android:exported="true" android:process=":auth">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data android:name="android.accounts.AccountAuthenticator" android:resource="@xml/authenticator"/>
        </service>
        <service android:name="com.juick.android.DatabaseService" android:exported="false"/>
        <service android:name="com.juick.android.XMPPService" android:exported="false"/>
        <service android:name="com.juick.android.JAMService" android:exported="false"/>
        <service android:name="com.juick.android.ContactsSyncService" android:exported="true"
                 android:process=":contacts">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter" android:resource="@xml/sync_contacts"/>
            <meta-data android:name="android.provider.CONTACTS_STRUCTURE" android:resource="@xml/contacts"/>
        </service>

    </application>
</manifest>
